<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Save</title>
</head>
<body>
  <center><h1>Save Product Information</h1></center>
  <a href="/">HOME</a>
  <hr>
  {{result}}<br><br>
  <form method="post" action="/product/save">
      Product ID : <input type="text" name="prid" value="{{product.productId}}"><br><br>
      Product Name : <input type="text" name="prnm" value="{{product.productName}}"><br><br>
      Product Quantity : <input type="text" name="prqty" value="{{product.productQuantity}}"><br><br>
      Product Vendor : <input type="text" name="prven" value="{{product.productVendor}}"><br><br>
      Product Price : <input type="text" name="prprice" value="{{product.productPrice}}"><br><br>
      <input type="submit">

  </form>
</body>
</html>